=card
  background-color: white
  border-radius: 1em
  margin: 1em 2em

=reset-link
  color: inherit
  text-decoration: inherit

body
  background-color: #EEE
  font-family: Lato, sans-serif

main
  width: 100%
  max-width: 70em
  margin: auto
  display: flex
  flex-direction: column

  > heading
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-evenly
    align-items: flex-end
    +card

    > *
      padding: 0 1em
      margin: 0.5em 0

    .hb-logo
      font-family: Satisfy, cursive, sans-serif
      +reset-link

      &:hover
        text-decoration: underline

a.card
  overflow: hidden
  display: flex
  flex-direction: row
  +reset-link
  +card

  .permalink
    position: absolute
    top: 0
    right: 0
    padding: 2em 3em
    margin: 2em
    cursor: alias
    color: #aaa
    font-size: 0.75em
    
    .linkText, input
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace
      text-align: right
    
    input
      display: none
      border: none
      color: inherit
    
    .copiedMessage
      display: none
    
    &.copying
      input
        display: unset
      .linkText
        display: none
    
    &.copied
      .copiedMessage
        display: unset

  > figure
    width: 50%
    flex-grow: 0
    flex-shrink: 0
    position: relative
    margin: 0
    
    img
      object-fit: cover
      position: absolute
      width: 100%
      height: 100%
  
  aside
    position: relative
    padding: 0 1em
    flex: 1 1 50%
    ul
      margin: 0.5em 0
      padding: 0
    li
      list-style: none
      display: inline
      &:not(:first-child)::before
        content: '• '
        color: black
    
  @media only screen and (max-width: 700px)
    flex-direction: column

    > figure
      width: unset
      height: 30vw

.capacity.available
  color: green
.capacity.full
  color: red